[Unit]
Description = client-server
After = network.target

[Service]
ExecStart = python3 /opt/script/server.py
Restart = always
Type = simple
User = pi

[Install]
WantedBy = multi-user.target
