[Unit]
Description = client-server

[Service]
ExecStart = python3 /opt/script/server.py
Restart = always
Type = simple
After = network.target

[Install]
WantedBy = multi-user.target
